includes:
    - phar://phpstan.phar/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    autoload_files:
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
